.threejs {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

#cube {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#reset-button {
  position: absolute;
	width: 100px;
	height: 50px;
  right: 0px;
  bottom: 0px;
	background-color: #0ba6ff;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}